.toolbar md-toolbar {
  z-index: 100;
  position: fixed;
  background-color: #9c27b0;
  padding: 0 0 10px 0;
}

.toolbar .app-name {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.toolbar .identification {
  margin-right: 100px;
  text-align: right;
}

.toolbar .identification .name {
  font-size: 14px;
  margin-right: 3px;
}

.toolbar .identification .role {
  font-size: 11px;
  color: #BAD1E3;
}

.toolbar .identification button {
  padding: 5px 3px;
  margin: 0;
  min-height: 0;
  text-align: right;
  line-height: 0;
}

.toolbar .identification .role:hover {
  color: #fff;
}

.toolbar .side-menu {
  margin-top: 65px;
  padding: 0;
}

.toolbar .side-menu .fa {
  width: 20px;
}

.toolbar .menu-item {
  color: #666;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  padding: 15px 15px 15px 30px;
}

.toolbar .menu-item:focus {
  outline: none;
  border: 0;
}

.toolbar .menu-item:hover {
  background: #f6f6f6;
}

.toolbar .menu-item.selected {
  background: #ddd;
}

.toolbar .menu-item .icon-all-requests {
  font-size: 23px;
  margin-right: 20px;
}

.toolbar .menu-item.separator {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.toolbar .log-out-menu {
  font-size: 16px;
  border-radius: 1px;
  background: #fff;
  right: 10px;
  top: -10px;
  position: absolute;
  z-index: 50;
  transition: top .25s ease-out;
}

.toolbar .log-out-menu.visible {
  top: 60px;
}

.toolbar .log-out-menu .log-out-button {
  color: #555;
}

.add-button {
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .toolbar .app-name {
    font-size: 20px;
  }
  .toolbar .identification {
    margin-right: 30px;
  }
  .toolbar .identification .name {
    font-size: 11px;
  }
  .toolbar .identification .role {
    font-size: 10px;
  }
}

.view {
  margin: 80px;
}

.view h1 {
  color: #999;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}

.dashboard .summary-boxes {
  color: #fff;
  margin: 30px 0;
}

.dashboard .summary-box {
  width: 200px;
  border-radius: 2px;
}

.dashboard .summary-box.summary-total {
  background: #00c0ef;
}

.dashboard .summary-box.summary-pending {
  background: #F39C12;
}

.dashboard .summary-box.summary-amount {
  background: #00A65A;
}

.dashboard .summary-box-main {
  margin: 10px;
}

.dashboard .summary-box-main .summary-value {
  font-size: 25px;
  font-weight: 900;
}

.dashboard .summary-box-main .summary-desc {
  font-size: 15px;
  font-weight: 400;
  margin: 10px 10px 20px 0;
}

.dashboard .summary-box-footer {
  padding: 4px;
  font-size: 12px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

.dashboard .md-whiteframe-1dp {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
              0px 1px 1px 0px rgba(0, 0, 0, 0.14),
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.dashboard .md-whiteframe-1dp .icon {
  font-size: 30px;
  padding: 5px;
  color: #bbb;
}

.dashboard .md-whiteframe-1dp h2 {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background: #3F51B5;
  padding: 5px 10px;
  margin: 0;
}

.dashboard .md-whiteframe-1dp h3 {
  font-size: 15px !important;
  line-height: 1.2em !important;
  color: #777 !important;
}

.dashboard .md-whiteframe-1dp a {
  color: #3F51B5 !important;
}

@media screen and (max-width: 600px) {
  .dashboard .summary-box {
    width: 130px;
  }
  
  .dashboard .summary-box-main .summary-value {
    font-size: 17px;
  }
  
  .dashboard .summary-box-main .summary-desc {
    font-size: 11px;
    font-weight: 400;
    margin: 10px 10px 20px 0;
  }
}

.orders .filter md-input-container.md-icon-float {
  margin-top: 0;
}

.orders .filter .fa-search {
  color: #666;
}

.orders .md-whiteframe-1dp {
  margin-top: 10px;
  padding: 0 10px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
              0px 1px 1px 0px rgba(0, 0, 0, 0.14),
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.orders .order {
  padding: 10px 0;
}

.orders .order .contractor {
  width: 100px;
  background: #F39C12;
  margin: 0 10px;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.orders .order .box-2 {
  width: 200px;
}

.orders .order .box-2 .number {
  color: #444;
}

.orders .order .box-2 .date {
  font-size: 11px;
  color: #777;
}

.orders .order .box-3 {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

.orders .order .box-4 {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.orders .order .badge {
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
}

.orders .order .badge.total {
  background: #00c0ef;
}

.orders .order .badge.created {
  background: #F39C12;
}

.orders .order .badge.pending {
  background: #00A65A;
}

.orders .order .badge.closed {
  background: #bbb;
}

.contracts h2 {
  font-size: 18px;
  font-weight: 200;
  color: #444;
  margin-top: 40px;
}

.contracts .fa-file-pdf-o {
  font-size: 20px;
}

.contracts .boxes {
  margin-top: 50px;
}

.contracts .box {
  border-radius: 3px;
  color: #fff;
  width: 150px;
}

.contracts .box.blue {
  background: #00c0ef;
}

.contracts .box.green {
  background: #00A65A;
}

.contracts .box.orange {
  background: #F39C12;
}

.contracts .box.yellow {
  background: #F3C512;
}

.contracts .box .contractor-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

.contracts .box .contractor {
  margin: 10px 15px;
  font-size: 18px;
  font-weight: 500;
}

.contracts .box .button-hidden {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .contracts .box {
    width: 105px;
  }
  .contracts .box .contractor {
    font-size: 14px;
  }
  
  .contracts .box .button {
    font-size: 11px;
  }
}



/*profile*/

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%);
            transform: rotate(0deg) translate(-50%);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-50%);
            transform: rotate(360deg) translate(-50%);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%);
            transform: rotate(0deg) translate(-50%);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-50%);
            transform: rotate(360deg) translate(-50%);
  }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-animation: spin 0.75s infinite linear;
          animation: spin 0.75s infinite linear;
  border: 2px solid #707070;
  border-radius: 50%;
  border-top-color: white;
  height: 25px;
  -webkit-transform-origin: left;
          transform-origin: left;
  top: 45%;
  width: 25px;
}
.hidden-input {
  left: 1200px;
  position: absolute;
}
.profile {
  *zoom: 1;
  background-color: #ddd;
  border-radius: 2px;
  display: block;
  float: none;
  margin: 5px auto;
  overflow: hidden;
  padding-bottom: 20px;
}
.profile:before,
.profile:after {
  content: "";
  display: table;
}
.profile:after {
  clear: both;
}
.about {
  font-family: Helvetica, "Helvetica Neue", "Tahoma";
  font-size: 12px;
  color: #adadad;
  line-height: 17px;
}
.image-wrapper {
  background: rgba(0, 0, 0, 0.2);
  bottom: -50px;
  height: 50px;
  left: 0;
  position: absolute;
  -webkit-transition: bottom 0.15s linear;
  transition: bottom 0.15s linear;
  width: 100%;
}
.edit {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  cursor: pointer;
  font-size: 22px;
  top: 10px;
}
.cover {
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.cover img {
  height: 550px;
  display: block;
  margin: auto;
}
.cover .image-wrapper {
  bottom: auto;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
.name {
  font-family: Helvetica, "Helvetica Neue", "Tahoma";
  font-size: 18px;
}
.profile-pic {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  border: 4px solid white;
  height: 210px;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 210px;
  top: 0;
}
.profile-pic img {
  box-sizing: border-box;
  height: 100%;
  left: 50%;
  max-height: 100%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  width: auto;
}
.profile-pic:hover .image-wrapper {
  bottom: 0;
}
.username {
  margin-top: 122px;
  text-align: center;
}
.user-info {
  *zoom: 1;
  padding: 8px;
  position: relative;
}
.user-info:before,
.user-info:after {
  content: "";
  display: table;
}
.user-info:after {
  clear: both;
}
.layer {
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.layer.visible {
  display: block;
}
.link {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 32px;
}
.link img {
  width: 100%;
}

/*Second partprofile*/

#tabs {
  margin: 1em auto;
  width: 100%;
}
#tabs ul {
  margin: 0;
  padding: 0;
  height: 80px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
#tabs ul::after {
  clear: both;
  content: "";
  display: table;
}
#tabs ul li {
  display: block;
  width: 100%;
  height: 100%;
  background: #f4f4f3;
  border-bottom: 1px solid #e5e5e2;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: center;
}
#tabs ul li:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  border-right: 1px solid #e5e5e2;
}
#tabs ul li:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  border-left: 1px solid #e5e5e2;
}
#tabs ul li a {
  display: block;
  padding: 1em;
  cursor: pointer;
  outline: 0;
  border: none;
  font-size: 0.85em;
  color: #6a6a6a;
  text-decoration: none;
  text-transform: uppercase;
}
#tabs ul li span {
  display: block;
  margin-bottom: 0.75em;
}
#tabs ul .ui-tabs-active {
  background: #fff;
  border-bottom: none;
}
#tabs ul .ui-tabs-active a {
  color: #000;
}
#tabs ul .ui-tabs-active span {
  color: #609c09;
}
#tabs h3, #tabs h4 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}
#tabs h3 {
  margin: 0.5em 0;
  border-bottom: 1px solid rgba(126, 149, 180, 0.5);
  padding-bottom: 0.05em;
  font-size: 2.5em;
  color: #f38500;
  font-weight: 300;
}
#tabs h4 {
  margin: 0.25em 0;
  font-size: 1.35em;
  color: #000;
  font-weight: 700;
}
#tabs .tagline {
  display: block;
  margin-top: 1.25em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  color: #aa7786;
  text-transform: lowercase;
}

.tabs-content {
  background: #fff;
}
.tabs-content article {
  padding: 1em;
}
.tabs-content article p {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
}
.tabs-content article .readmore {
  display: block;
  margin-top: 1.5em;
  padding-top: 0.25em;
  border-top: 1px solid rgba(126, 149, 180, 0.5);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}
.tabs-content article .readmore::after {
  clear: both;
  content: "";
  display: table;
}
.tabs-content article .readmore a {
  display: block;
  margin: 1em 0;
  float: right;
  color: #aa7786;
  text-decoration: none;
}
.tabs-content article .readmore a:hover {
  color: #925c6c;
}
.tabs-content article .readmore span {
  padding-left: 1em;
  vertical-align: middle;
}
.tabs-content article img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

